meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="discription" content=siteDesc)
title #{pageTitle} | #{site.name}
meta(property="og:title" content=pageTitle　+ '｜' + siteName)
meta(property="og:type" content="article")
meta(property="og:url" content=siteUrl)
meta(property="og:image" content=siteImage)
meta(property="og:description" content=siteDesc)

block css
  link(rel="stylesheet" href="/css/style.min.css")
